---
---

/* This file is for your main application css. */

@tailwind base;

@tailwind components;
@tailwind utilities;

@layer base {
  .blogpost {
    & h1 {
      @apply text-5xl font-bold m-4 leading-tight;
    }
  
    & h2 {
      @apply text-2xl font-bold mx-6 mt-5 mb-2 leading-tight self-start;
    }
  
    & h3 {
      @apply text-xl font-bold mx-6 mt-5 mb-2 leading-tight self-start;
    }
  
    & p {
      @apply text-lg font-medium mx-6 my-1 text-left break-normal;
      /* letter-spacing: -.003em; */
    }
  
    & img {
      @apply rounded-sm self-center;
      max-height: 400px;
    }
  
    & a {
      @apply text-sky-80 hover:text-bronze-40 underline hover:underline;
    }
  
    & blockquote {
      @apply text-lg italic;
      margin-right: 3rem;
      margin-left: 3rem;
    }
  
    & ul {
      @apply my-4 ml-10 mr-16 self-start pl-2;
    }
  
    & ol {
      @apply my-4 ml-10 mr-16 self-start list-disc pl-4;
    }
  
    & li {
      @apply mt-2 text-lg font-medium leading-normal text-justify self-start;
    }
  
    & pre {
      @apply flex mx-16 my-2 self-stretch items-start;
    }
  
    & strong {
      @apply font-semibold;
    }
    
    & hr {
      @apply border-none bg-bronze-50 h-1 w-2/3 my-4;
    }  
  }
}
@layer components {
  .header-title {
    @apply flex items-center justify-center flex-wrap p-6 bg-sky-50;
  }

  .header-title-link {
    @apply text-black text-4xl font-bold hover:text-bronze-80 no-underline hover:no-underline;
  }

  .header-section-title {
    @apply text-2xl font-bold mx-6 mt-5 mb-2 leading-tight self-start;
  }

  .navbar {
    @apply m-0 flex items-center justify-center flex-wrap border-b-2 border-bronze-40;
  }

  .navbar-container {
    @apply p-4 my-0 mx-3 leading-normal text-justify self-start text-2xl list-none;
  }

  .navbar-placeholder {
    @apply text-white;
  }

  .navbar-link {
    @apply font-bold;
  }

  .page-title {
    @apply text-center font-bold my-3 mx-0 text-white text-4xl leading-normal;
  }

  .blog-card {
    @apply flex bg-white p-4 rounded-lg m-2 mt-8 flex-wrap-reverse justify-center items-center;
    width: auto;
  }

  .blog-card-text {
    max-width: 600px;
  }

  .primary-link {
    @apply text-white hover:text-bronze-60 hover:no-underline no-underline;
  }

  .primary-link-inverted {
    @apply text-white hover:text-bronze-40 hover:no-underline no-underline;
  }

  .post-title-list {
    @apply text-center text-3xl font-semibold text-black hover:underline;
  }

  .main-footer {
    @apply bg-black text-white mx-auto self-center flex flex-col my-3;
  }

  .footer-text {
    @apply mx-auto self-center text-center;
  }

  .footer-list {
    @apply flex justify-center self-center my-1 list-none;
  }

  .footer-element {
    @apply mx-3 list-none;
  }

  .footer-link {
    @apply text-bronze-40 hover:text-sky-80;
  }

  .about-p {
    @apply mt-3
  }

  .blogpost {
    @apply flex flex-col flex-nowrap justify-center mx-auto text-black pb-3 bg-white border-4 border-black rounded-lg items-center mt-2 px-5;
    max-width: 60rem;


    & .blogpost-header {
      @apply self-end text-base text-gray-90;
    }
  
    & .thin {
      @apply border-b-2 border-sky-40 border-solid mx-6 w-16;
    }
  
    & .footnotes {
      @apply self-start list-decimal;
    }
  
  }
}