<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="icon" href="/favicon.ico" />
  <link rel="stylesheet" href="/assets/css/styles.css">
  {% feed_meta %}
  {% seo %}
</head>

<body class="bg-black">
  <div class="container mx-auto">
    <header class="header">
      {% include navigation.html %}
    </header>

    <main role="main">
      {{ content }}
    </main>

  </div>
</body>
<footer class="container main-footer">
  <p class="footer-text">If you have any comment or want to contact me, please use one of these.</p>
  <ul class="footer-list">
    <li class="footer-element"><a class="footer-link" href="https://hachyderm.io/@Di4na">Mastodon</a></li>
    <li class="footer-element"><a class="footer-link" href="https://github.com/DianaOlympos">GitHub</a></li>
    <li class="footer-element"><a class="footer-link" href="mailto:depierre.thomas+softwaremaxims@gmail.com">Mail</a>
    </li>
  </ul>
  <p class="footer-text">Yes this blog has an <a class="footer-link" href="/feed.xml">Atom feed</a></p>
</footer>
<script data-goatcounter="https://diana.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script>
</html>
